@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
    margin: 0;
    scroll-behavior: smooth;
}

.ind-web {
    width: 35rem;
    box-shadow: 0 10px 15px 2px rgb(0 183 235 / 0.1), 0 4px 12px 2px rgb(0 183 235 / 0.1);
    overflow: hidden;
    border-radius: 15px;
}

.footer-shadow {
    box-shadow: 0px -3px 20px 2px rgba(75, 0, 200, 0.2);
    margin: 0em;
    padding: 0.3em;
}

.header-shadow {
    box-shadow: 0px 3px 20px 2px rgba(75, 0, 200, 0.2);
}

.skill-button {
    background-color: rgba(75, 0, 200, 0.2);
    padding: 0.5em;
    border-radius: 4px;
    box-shadow: 0px 3px 20px 2px rgba(75, 0, 200, 0.2);

}



.custom-right {
    right: 50%;
}


@media (min-width: 600px) {
    .custom-width {
    width: 28em;
    }

    .custom-me-img {
        width: 15em;
    }

    .custom-hi {
        padding-right: 6.5em; 
    }

    .custom-name {
        padding-right: 4em; 
    
    }
}

@media (max-width: 600px){

    .custom-me-img{
        width: 9em;
        right: 53%;
        top: 7em;
    }

    .custom-width {
        width: 21em;
    }

    .custom-hi {
        padding-right: 4.3em; 
    }

    .custom-name {
        padding-right: 1.8em; 
    
    }
}