@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
    margin: 0;
}

.ind-web {
    width: 35rem;
    box-shadow: 0 10px 15px 2px rgb(0 183 235 / 0.1), 0 4px 12px 2px rgb(0 183 235 / 0.1);
    overflow: hidden;
    border-radius: 15px;
}
